body {
    font-family: Poppins, sans-serif;
}

.logo-pens{
    width: 120px;
}

h1 {
    font-size: 32px;
}

.logo-himaelin{
    width: 120px;
}

h2 {
    text-align: center;
    font-size: 28px;
}

@media only screen and (max-width: 600px) {
    .logo-pens{
        width: 80px;
    }

    .h1 {
        font-size: 20px;
    }

    .logo-himaelin{
        width: 80px;
    }
  }